mixin section(doc)
    div(id="#{doc.id}")
        div(class="row")
            h2(id="section-title")!= doc.title
            p!= doc.body
            div(class="tab-content")
                div(class="tab-pane active", id="java")
                    if doc.sig.java
                        div(class="well custom-well sig-well")
                            pre
                                code!= doc.sig.java
                    if doc.example.java
                        div(class="well custom-well example-well")
                            pre
                                code!= doc.example.java
                div(class="tab-pane", id="cs")
                    if doc.sig.cs
                        div(class="well custom-well sig-well")
                            pre
                                code!= doc.sig.cs
                    if doc.example.cs
                        div(class="well custom-well example-well")
                            pre
                                code!= doc.example.cs
                if doc.methods
                    each method, i in doc.methods
                        +subSection(method)

mixin subSection(method)
    div(id="#{method.id}")
        div(class="row")
            h3(id="section-title")!= method.title
            p!= method.body
            div(class="tab-content")
                div(class="tab-pane active", id="java")
                    if method.sig.java
                        div(class="well custom-well sig-well")
                            pre
                                code!= method.sig.java
                    if method.example.java
                        div(class="well custom-well example-well")
                            pre
                                code!= method.example.java
                div(class="tab-pane", id="cs")
                    if method.sig.cs
                        div(class="well custom-well sig-well")
                            pre
                                code!= method.sig.cs
                    if method.example.cs
                        div(class="well custom-well example-well")
                            pre
                                code!= method.example.cs

mixin nav(doc, i)
    li(class="")
        a(href="##{doc.id}") #{doc.id}
    if doc.methods
        each method, i in doc.methods
            +subNav(method)

mixin subNav(method)
    li(class="")
        a(href="##{method.id}") #{method.id}

html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(charset="utf-8")
        title mkzer0 - TankGame
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        meta(name="description", content="")
        meta(name="author", content="")

        link(rel="stylesheet", type="text/css", href="css/metro-bootstrap.css")
        link(rel="stylesheet", type="text/css", href="css/docs.min.css")
        link(rel="stylesheet", type="text/css", href="css/base.css")
        link(rel="stylesheet", type="text/css", href="css/default.css")
        script(src="scripts/highlight.pack.js")
        |<script>
        |   hljs.initHighlightingOnLoad();
        |</script>

    body
        div(class="navbar navbar-default navbar-static-top")
            div(class="navbar-header")
                div(class="row", style="margin: 0px;")
                    a(class="navbar-brand")
                        h1(id="page-title", style="margin-bottom: 20px;") Tank Game
            div(class="collapse navbar-collapse navbar-ex1-collapse")
                div(class="nav navbar-nav navbar-left")
                div(class="nav navbar-nav navbar-right")
                    img(class="bannerad-img", src="resources/mkzer0.png",
                        title="ThemeForest", alt="mkzer0_Logo",
                        style="height: 90px; margin: 8px; padding: 10px")

        div(class="container", id="container")
            div(id="main-menu", class="jumbotron")
                h1(style="margin-top: 0;") Tank Game Docs
                p(class="lead")
                    | API Download and Documentation.

            div(class="row")
                div(class="col-md-6 vertical-align-middle-tile")
                    h1(class="download-text") Download the API here ->
                div(class="col-md-6")
                    a(href="api/java/target/tank-game-api-1.0-SNAPSHOT.jar")
                        div(class="thumbnail tile tile-double tile-purple")
                            h1(class="tile-text") JAVA API
                    a(href="api/mkzer0.TankGame.zip")
                        div(class="thumbnail tile tile-double tile-green gap-before")
                            h1(class="tile-text") C# API

            div(class="row")
                div(class="col-md-9")
                    each doc, i in docs
                        +section(doc)
                div(class="col-md-3")
                    div(class="bs-sidebar hidden-print affix-top", role="complementary")
                        ul(class="nav nav-tabs")
                            li(class="active")
                                a(href="#java", data-toggle="tab") JAVA
                            li
                                a(href="#cs", data-toggle="tab") C#
                        ul(class="nav bs-sidenav")
                            each doc, i in docs
                                +nav(doc, i)

        script(type="text/javascript", src="scripts/jquery-1.10.2.min.js")
        script(type="text/javascript", src="scripts/bootstrap.min.js")
        script(type="text/javascript", src="scripts/docs.min.js")





